.nav-main{
    width: 100%;
    background-color: #343a40;
}

.nav-main .nav-container{
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.nav-container .nav-head h1{
    color: #ffffff;
}

.nav-container .nav-list{
    width: 20%;
}
.nav-container .nav-list ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-container .nav-list ul li{
    list-style: none;
   
}

.nav-container .nav-list ul li a{
    text-decoration: none;
    color: #CCCDCF;
    cursor: pointer;
}

.nav-container .nav-list ul li a:hover,
.nav-container .nav-list ul li a:active{
    color: white;
}

#check{
    display: none;
}

#bar{
    display: none;
}

@media screen and (max-width: 768px){
    .nav-container .nav-list ul{
        display: none;
        position: absolute;
        top: 41px;
        font-size: 20px;
        right: -100%;
        width: 100%;
        transition: 0.3s ease-in;
    }
    #bar{
        display: block;
        width: 30px;
        height: 30px;
        border: 1px solid white;
        color: white;
        border-radius: 3px;
        padding: 5px;
    }
    #check:checked~ul{
        display: block;
       right: 0;
       transition: 0.3s ease-out;
       background-color: #343a40;
    }
}